name: tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: run tests
        run: go test ./...
